<div class="wikidoc"><b>Project Description</b><br />MVC Music Store is a tutorial application built on ASP.NET MVC. It&#39;s a lightweight sample store which demonstrates ASP.NET MVC using Entity Framework.<br />
<h2>Overview</h2><ul><li>Demonstrates ASP.NET MVC 3 Templating, Data Annotations, and Validation</li>
<li>Demonstrates Razor syntax and advanced features</li>
<li>Shows Client-Side Validation, jQuery, and use of AJAX helper methods</li>
<li>Includes store browse, shopping cart, checkout, and membership</li>
<li>Shows data access via Entity Framework 4</li>
<li>Illustrates use of ViewModels</li>
<li>This tutorial requires <a href="http://www.microsoft.com/express/Web/">Visual Web Developer 2010 Express</a> and ASP.NET 4.0 (both free) or Visual Studio 2010</li></ul>
<br />Read the full tutorial online <a href="http://www.asp.net/mvc/tutorials/mvc-music-store-part-1">on the ASP.NET website</a>.<br /><br /><i>To view administrative pages use this login: Username = Administrator / password = password123!</i><br /><i>A SQL Express database is included, but if you need SQL scripts to create the database they are available <a href=".\84d49b0e-0f50-4d6b-bc36-98fc2fd55824">here</a></i><br /><br /><a href="http&#58;&#47;&#47;mvcmusicstore.codeplex.com&#47;releases&#47;view&#47;64379&#35;DownloadId&#61;228002"><img src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=mvcmusicstore&DownloadId=119613" alt="MVC&#32;Music&#32;Store" title="MVC&#32;Music&#32;Store" /></a><br /><b>Includes a 160-page PDF Walkthrough Tutorial inside the ZIP file!</b><br /><br /><img src="http://download-codeplex.sec.s-msft.com/Download?ProjectName=mvcmusicstore&DownloadId=119579" alt="MVC&#32;Music&#32;Store" title="MVC&#32;Music&#32;Store" /><br />
<h2>License</h2><ul><li>Open Source Ms-PL license</li></ul>
 </div><div class="ClearBoth"></div>